<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Connected Shoppers Report</title>
    <meta name="description" content="Connected Shoppers Report" />
    <meta name="keywords" content="Connected Shoppers Report" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link rel="preconnect" href="//styles.assets-landingi.com" />
    <link rel="preconnect" href="//old.assets-landingi.com" />
    <link rel="preconnect" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="//images.assets-landingi.com" />
    <link rel="preconnect" href="//cdn.lugc.link" />
    <link
      rel="preload"
      fetchpriority="high"
      media="(min-width: 764px)"
      as="image"
      href="https://cdn.lugc.link/88966da8-db63-41ff-baf9-f4ff5af255f4/-/preview/100x70/-/format/auto/"
    />
    <link
      rel="preload"
      fetchpriority="high"
      media="(min-width: 764px)"
      as="image"
      href="https://cdn.lugc.link/7789f7a3-5ed9-42a2-a43e-e891d07f55c8/-/preview/410x304/-/format/auto/"
    />
    <link
      rel="preload"
      fetchpriority="high"
      media="(max-width: 763px) and ((-webkit-max-device-pixel-ratio: 1.9) or (max-resolution: 1.9dppx))"
      as="image"
      href="https://cdn.lugc.link/88966da8-db63-41ff-baf9-f4ff5af255f4/-/preview/28x20/-/format/auto/"
    />
    <link
      rel="preload"
      fetchpriority="high"
      media="(max-width: 763px) and ((-webkit-max-device-pixel-ratio: 1.9) or (max-resolution: 1.9dppx))"
      as="image"
      href="https://cdn.lugc.link/7789f7a3-5ed9-42a2-a43e-e891d07f55c8/-/preview/320x237/-/format/auto/"
    />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="https://images.assets-landingi.com/dqkhuJUF/Accelerating_Complex_Sales_Cycles_with_Video_background.jpg"
    />
    <script fetchpriority="high">
      (function (src, cb) {
        var s = document.createElement("script");
        s.setAttribute("src", src);
        s.setAttribute("fetchpriority", "high");
        s.onload = cb;
        (document.head || document.body).appendChild(s);
      })(
        "https://ucarecdn.com/libs/blinkloader/3.x/blinkloader.min.js",
        function () {
          window.Blinkloader.optimize({
            fadeIn: false,
            lazyload: true,
            smartCompression: true,
            responsive: true,
            retina: true,
            webp: true,
            pubkey: "ca6af56c901b93c58ffa",
            cdnBase: "https://cdn.lugc.link",
          });

          if (window.location !== window.parent.location) {
            window.onload = function () {
              setTimeout(function () {
                window.dispatchEvent(new CustomEvent("scroll"));
              }, 500);
            };
          }
        }
      );
    </script>

    <meta property="og:title" content="Connected Shoppers Report" />
    <meta property="og:description" content="Connected Shoppers Report" />
    <meta property="og:image" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext&display=swap"
      type="text/css"
      rel="preload"
      as="style"
      fetchpriority="high"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic,cyrillic-ext&display=swap"
      type="text/css"
      rel="preload"
      as="style"
      fetchpriority="high"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="https://styles.assets-landingi.com/assets/css/2.14-landend-base.css"
      type="text/css"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="https://styles.assets-landingi.com/fSuH49jE/base.css"
      type="text/css"
      rel="stylesheet"
    />
    <script>
      var landingiInternalDetails = {
        landing_id: "1605401",
        landing_hash: "bbb743dd773941775273",
        landing_variant_hash: "",
        landing_name: "Salesforce+%3A+Connected+Shoppers+Report",
        landing_lang: "en",
        account_uuid: "b065abe0-6e03-11ea-bff9-42b3a1540b74",
        apikey: "6e314dd3-fc1a-43a0-9b55-02b4a96c50b6",
      };
    </script>
    <script>
      document.documentElement.lang = "en";

      function hotFix() {
        for (var i = 0; i <= 5; i++) {
          document
            .getElementsByTagName("select")
            [i].removeAttribute("aria-label");
          document
            .getElementsByTagName("select")
            [i].setAttribute("aria-label", "New Label");
        }
      }
      hotFix();
    </script>
    <script>
      (async function (w, d) {
        try {
          const response = await w.fetch(
            "https://" +
              "tagmanager.landingi.io" +
              "/account/" +
              "b065abe0-6e03-11ea-bff9-42b3a1540b74"
          );
          const gtm = await response.json();

          if (gtm) {
            const script = d.head.getElementsByTagName("script")[0];
            const tmpl = d.createElement("template");
            tmpl.innerHTML = gtm;
            tmpl.content.childNodes.forEach((node) => {
              let elem = node;

              if ("SCRIPT" === node.nodeName) {
                elem = d.createElement("script");

                if (node.textContent) {
                  elem.textContent = node.textContent;
                }

                if (node.src) {
                  elem.src = node.src;
                  elem.type = node.type;
                }

                script.parentNode.insertBefore(elem, script);
              }

              if ("STYLE" === node.nodeName) {
                elem = d.createElement("style");

                if (node.textContent) {
                  elem.textContent = node.textContent;
                }

                script.parentNode.insertBefore(elem, script);
              }
            });
          }
        } catch (err) {
          console.log(err);
        }
      })(window, document);
    </script>
    <script>
      window.lazySizesConfig = window.lazySizesConfig || {};
      window.lazySizesConfig.init = false;
    </script>
    <script
      type="text/javascript"
      src="//assetslp.link/assets/js/landend/lazysizes.min.js"
    ></script>
    <script>
      lazySizes.init();
    </script>
    <script
      defer
      fetchpriority="low"
      src="https://popups.landingi.com/api/v3/landing/install-code?apikey=6e314dd3-fc1a-43a0-9b55-02b4a96c50b6&landing=bbb743dd773941775273"
    ></script>
    <script
      defer
      fetchpriority="low"
      src="https://scripts.assets-landingi.com/lightboxes/lightbox-render.js?v=1705077161"
    ></script>
    <script>
      window.addEventListener("load", function () {
        LightboxRender.init({
          useAaf: true,
        });
      });
    </script>
     <style>
        .space {
          margin-right: 10px;
        }
      </style>
  </head>

  <body id="TxvpQxGuo6CkxW3pseVeXnPkXz3TAWhR">
    <div id="fwG8O6R5wFuI4GIMqEzXMxnoiEH1Tctn" class="widget widget-section">
      <div class="row">
        <div class="container">
          <img
            id="SAOdCI5d3gGx3UOBwSQqywaxdtbF4y3k"
            data-original="https://images.assets-landingi.com/uc/88966da8-db63-41ff-baf9-f4ff5af255f4/Salesforcecom_logosvg.png"
            class="widget widget-image"
            srcset="
              https://cdn.lugc.link/88966da8-db63-41ff-baf9-f4ff5af255f4/-/preview/28x20/-/format/auto/   28w,
              https://cdn.lugc.link/88966da8-db63-41ff-baf9-f4ff5af255f4/-/preview/100x70/-/format/auto/ 100w
            "
            sizes="(max-width: 763px) 28px,   100px"
            src="https://cdn.lugc.link/88966da8-db63-41ff-baf9-f4ff5af255f4/-/preview/28x20/-/format/auto/"
            alt=""
            width="100"
            height="70"
            fetchpriority="high"
          />
        </div>
      </div>
    </div>
    <div id="m1pZQZBl23BU981ermlqtTyTXxbP2V48" class="widget widget-section">
      <div class="row">
        <div class="container"></div>
      </div>
    </div>
    <div id="ke1cv2JwFmEPyLBDq7MbCkpi57AOump8" class="widget widget-section">
      <div class="row">
        <div class="container">
          <div id="EL1CuudaZXXag3PKNM9iwLIUL2ff2uLC" class="widget widget-text">
            <p><br /></p>
          </div>
          <div id="txHE1J8Zf6QnO5U4b268ydN2QdNzOk7V" class="widget widget-text">
            <p><b>Connected Shoppers Report</b></p>
          </div>
          <img
            id="B8qg9l5EJ9cMZeKZR1VfuadnWtE3m1yD"
            data-original="https://images.assets-landingi.com/uc/7789f7a3-5ed9-42a2-a43e-e891d07f55c8/Capture.PNG"
            class="widget widget-image"
            srcset="
              https://cdn.lugc.link/7789f7a3-5ed9-42a2-a43e-e891d07f55c8/-/preview/320x237/-/format/auto/ 320w,
              https://cdn.lugc.link/7789f7a3-5ed9-42a2-a43e-e891d07f55c8/-/preview/410x304/-/format/auto/ 410w
            "
            sizes="(max-width: 763px) 320px,   410px"
            src="https://cdn.lugc.link/7789f7a3-5ed9-42a2-a43e-e891d07f55c8/-/preview/320x237/-/format/auto/"
            alt="Image"
            width="410"
            height="304"
            fetchpriority="high"
          />
          <div id="H8X7uvL3DhQLrBEZUt6XAFDRwXrZyTea" class="widget widget-text">
            <p>
              <font color="#000000"
                ><b>Complete the form below to download</b></font
              >
            </p>
            <p>
              <font color="#000000"><b> the content:</b></font>
            </p>
          </div>
          <div
            id="NN7fT6UxlE84zS6FElbU1wPJwlPHVw83"
            class="widget widget-box"
          ></div>
          <form
            id="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
            class="widget widget-form"
            data-orientation="vertical"
            data-version="2.1"
            action="/submit"
            enctype="multipart/form-data"
            method="post"
            novalidate
            data-hash="bbb743dd773941775273"
          >
            <div style="display: inline;
            display: flex;"
              id="CoqaqfQsb4d8na9svnBaKANITNMgRXKQ"
              class="widget widget-container clearfix"
            >
            <input placeholder="Email Address*"
                class="widget widget-input-text"
                id="iZk99nLEWEBnFk1rq6yRxycGDacKWLop"
                type="email"
                subtype="email"
                parentId="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
                name="email"
                value=""
              />

              <span class="space"></span><input placeholder="First Name*"
                class="widget widget-input-text"
                id="rTMs4p0lyuoMTyk27dr4eClmFwo8lWKi"
                type="text"
                subtype="name"
                parentId="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
                name="name"
                value="prajwal pawar"
              />
            </div>

            <div style="display: inline;
            display: flex;"
              id="hJcK9OQTAwTn5LtxTDLdUTMhntBaUe9M"
              class="widget widget-container clearfix"
            >
              <input placeholder="Last Name*"
                class="widget widget-input-text"
                id="v5v627bESc4ZTRPozgpIwuXLZ8quNV6Z"
                type="text"
                subtype="name"
                parentId="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
                name="name1"
                value=""
              />

              <span class="space"></span><select value="Country"
                class="widget-select widget widget-input-select"
                id="ZQxWkLdUHEkViCJxXAnaVnfhAy2PLGto"
                placeholder="Country*"
                parentId="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
                name="select7"
                
              >
                <option value selected disabled hidden>Country</option>
                <option value="1">1</option>
              </select>
            </div>
            <div
              id="qqXRKfd7tqr1OcQAskinhZpU1wQHKv7r"
              class="widget widget-container clearfix"
            >
              <label
                id="tp3ypmgffJzDMcoDk5I7IU6SBDN9hyiB"
                class="widget widget-text widget-regular-label widget-label"
                for="Ac5rOCcXAfgSddwpMXXCXk9dODgiILbQ"
                >Phone*</label
              ><input
                class="widget widget-input-text"
                id="Ac5rOCcXAfgSddwpMXXCXk9dODgiILbQ"
                type="tel"
                subtype="phone"
                parentId="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
                name="phone"
                value="Phone*"
              />
            </div>
            <div
              id="V3nUbBnnJT4bFD4KSMUBEwalChsElIyL"
              class="widget widget-container clearfix"
            >
              <div
                id="XSdGq5Txpw9xo0GGUVHTDs9M2kyRdF3k"
                class="widget widget-text widget-info-text"
              >
                <p></p>
              </div>
            </div>
            <div
              id="gdNBBmHCLKMOdQXhN3K3D7Gox0iXKx4W"
              class="widget widget-container clearfix"
            >
              <div
                id="NVA7ADaig5ORsLfAwdH8NGN4Ccap0X0p"
                class="widget widget-text widget-info-text"
              >
                <b
                  >Answer the following questions about your organization
                  below:</b
                ><br />
              </div>
            </div>
            <div style="display: inline;
            display: flex;"
              id="KnNZXQNJiH1MNfp3CtfgLmFmkmpCz4q4"
              class="widget widget-container clearfix"
            >
              <input placeholder="Company Name*"
                class="widget widget-input-text"
                id="MVUPKFgcvhaJc2BWPWWvdCeT0UkTZ6G9"
                type="text"
                parentId="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
                name="text"
                value=""
              />
            
            <div style="width: 10px;"></div><select 
                class="widget-select widget widget-input-select"
                id="FG5E1OxSCT8Bc60IkoNVig4ZvwclSWT9"
                placeholder="Company Size*"
                parentId="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
                name="select1"
              >
                <option value selected disabled hidden>Select one</option>
                <option value="1-20 employees">1-20 employees</option>
                <option value="21-45 employees">21-45 employees</option>
                <option value="46-200 employees">46-200 employees</option>
                <option value="201-1,000 employees">201-1,000 employees</option>
                <option value="1,001-4,500 employees">
                  1,001-4,500 employees
                </option>
                <option value="4,501-10,000 employees">
                  4,501-10,000 employees
                </option>
                <option value="10,001+ employees">10,001+ employees</option>
              </select>
            </div>

            <div
              id="dDwhH88dTXORL1vpn6UVcBl72r5aJS8l"
              class="widget widget-container clearfix"
            >
              <label
                id="rmeRcQqDyyC7lhmFz7OEhw4f07UU0FX6"
                class="widget widget-text widget-regular-label widget-label"
                for="R6ziJHe2TeBEdRgpdTqEd5VRelM9Fdua"
                >Job Title*</label
              ><input
                class="widget widget-input-text"
                id="R6ziJHe2TeBEdRgpdTqEd5VRelM9Fdua"
                type="text"
                parentId="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
                name="text1"
                value="Job Title*"
              />
            </div>
            <div
              id="HykkHShbIvekV3FiLU6pmd1OUlCHAMmK"
              class="widget widget-container clearfix"
            >
              <div
                id="KIsoxSdXGHS71MT9i78PMVsJRL5Sdys7"
                class="widget widget-text widget-info-text"
              >
                <p>
                  By submitting this form, you agree to have your contact
                  information, including email, passed on to the
                  <a
                    href="https://www.salesforce.com/company/privacy/full_privacy/"
                    >sponsors</a
                  >
                  of this asset for the purpose of following up on your
                  interests.
                </p>
                <p><br /></p>
              </div>
            </div>
            <div
              id="utFour7FWNf8axAA82QocvMIV61vIiGE"
              class="widget widget-container clearfix"
            >
              <div
                id="PZiT0NZVLv0yMWokSLeKcDUFlGDcuQKz"
                class="widget widget-text widget-info-text"
              >
                <p>
                  By clicking ‘Submit’ you agree to our
                  <a href="https://techresearchs.com/terms-and-conditions/"
                    >Terms of Use</a
                  >. We take your privacy seriously. For more information please
                  read our
                  <a href="https://techresearchs.com/privacy-policy/"
                    >Privacy Policy</a
                  >.
                </p>
              </div>
            </div>
            <div
              id="s5Q3qVCiB0M8NQ2LT1K6n9OxMlDVVeqO"
              class="widget widget-container input-button-container clearfix"
            >
              <button
                class="widget widget-input-button"
                type="submit"
                id="nqtbITiBR7SKCxMRVP4TbN63B2Ue82t1"
                parentId="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
              >
                <div class="widget-overlay"></div>
                Submit
              </button>
              
            </div>
            <input type="hidden" name="_name_" value="" /><input
              type="hidden"
              name="_lead_uuid"
              value=""
            /><input
              type="hidden"
              name="_uid"
              value="e58dDbdIqTloGVc1F8Jlrg5TZXVXUih8"
            /><input type="hidden" name="_redirect" value="" />
          </form>
          <div id="Gpi1vItTJdnPeRu81S0gWdEJyBgRa6k0" class="widget widget-text">
            <p>
              <font color="#000000"><b>* - marks a required field</b></font>
            </p>
          </div>
          <div id="DyPTCEo3cq0yZP2wLzK7hIFT3xM1wRyA" class="widget widget-text">
            <p>
              We surveyed 2,400 shoppers and 1,125 retail leaders to learn about
              the consumer shopping trends shaping the industry.
            </p>
          </div>
          <div id="ODE93TUTb2oVuBuylTAT6zf1mSZxcZKf" class="widget widget-text">
            <p>Discover:</p>
          </div>
          <div id="u8OKa2ExszPpSILvvA5g0x8ZrZ1wPRNq" class="widget widget-text">
            <ul>
              <li>
                How digital experiences and tools are changing brick-and-mortar
                shopping
              </li>
              <li>How retailers plan to use data to engage shoppers</li>
              <li>Why customer service is the unsung hero of loyalty</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="//assetslp.link/assets/js/landend/jquery-3-6-0.min.js"
      fetchpriority="high"
    ></script>
    <script
      async
      type="text/javascript"
      src="https://old.assets-landingi.com/bootstrap/js/landend.bootstrap.min.js"
    ></script>
    <script
      async
      type="text/javascript"
      src="https://scripts.assets-landingi.com/webview/webview.1.0.2.js"
    ></script>
    <script
      type="text/javascript"
      src="https://old.assets-landingi.com/assets/js/dist/landend/300123/landend.js"
    ></script>
    <script src="/assets/js/landend/frodo.js"></script>
    <script>
      const lpStatsModule = (function () {
        const url = "https://stats.landingi.com/visit/1605401";
        const data = {
          lid: 1605401,
          luuid: "ff77d755-2905-498f-86d0-fc28e02a4f63",
          lhash: "bbb743dd773941775273",
          fid: 1605401,
          auuid: "b065abe0-6e03-11ea-bff9-42b3a1540b74",
          acid: 199539,
          agid: null,
          tid: null,
          hasAccessToEventTracker: false,
          hasAccessToEventTrackerDev: false,
          hasAccessToEventTrackerData: false,
        };
        const cookieName = "ls_sid_1605401";

        if (data.hasAccessToEventTrackerDev) {
          console.log("Running runScript in dev mode");
          frodo.runScriptDev(cookieName, url, data);
        } else {
          frodo.runScript(cookieName, url, data);
        }

        return {
          getData: function () {
            return data;
          },
          cookieName: function () {
            return cookieName;
          },
          endpoint: function () {
            return url;
          },
          path: function () {
            return path;
          },
        };
      })();
    </script>
    <script
      defer
      type="text/javascript"
      src="https://scripts.assets-landingi.com/landend/160721/files.js"
    ></script>
    <script
      defer
      fetchpriority="low"
      type="text/javascript"
      src="https://old.assets-landingi.com/assets/js/vendor/jquery-form/jquery.form.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://scripts.assets-landingi.com/landend/250423/landend.min.js"
    ></script>
    <script
      defer
      fetchpriority="low"
      type="text/javascript"
      src="https://old.assets-landingi.com/assets/js/landend/260820/validation.js"
    ></script>
    <script>
      var selectElement = document.querySelector(
        'select[placeholder="Country"]'
      );

      // Remove all existing options from the select element
      selectElement.innerHTML = "";

      // Create a placeholder option
      var placeholderOption = document.createElement("option");
      placeholderOption.value = "";
      placeholderOption.text = "Country"; // Replace with your desired placeholder text

      // Append the placeholder option to the select element
      selectElement.appendChild(placeholderOption);

      var countries = [
        { value: "Afghanistan", text: "Afghanistan" },
        { value: "Albania", text: "Albania" },
        { value: "Algeria", text: "Algeria" },
        { value: "American Samoa", text: "American Samoa" },
        { value: "Andorra", text: "Andorra" },
        { value: "Angola", text: "Angola" },
        { value: "Anguilla", text: "Anguilla" },
        { value: "Antarctica", text: "Antarctica" },
        { value: "Antigua and Barbuda", text: "Antigua and Barbuda" },
        { value: "Argentina", text: "Argentina" },
        { value: "Armenia", text: "Armenia" },
        { value: "Aruba", text: "Aruba" },
        { value: "Australia", text: "Australia" },
        { value: "Austria", text: "Austria" },
        { value: "Azerbaijan", text: "Azerbaijan" },
        { value: "Bahamas (the)", text: "Bahamas (the)" },
        { value: "Bahrain", text: "Bahrain" },
        { value: "Bangladesh", text: "Bangladesh" },
        { value: "Barbados", text: "Barbados" },
        { value: "Belarus", text: "Belarus" },
        { value: "Belgium", text: "Belgium" },
        { value: "Belize", text: "Belize" },
        { value: "Benin", text: "Benin" },
        { value: "Bermuda", text: "Bermuda" },
        { value: "Åland Islands", text: "Åland Islands" },
        { value: "Bhutan", text: "Bhutan" },
        {
          value: "Bolivia (Plurinational State of)",
          text: "Bolivia (Plurinational State of)",
        },
        {
          value: "Bonaire, Sint Eustatius and Saba",
          text: "Bonaire, Sint Eustatius and Saba",
        },
        { value: "Bosnia and Herzegovina", text: "Bosnia and Herzegovina" },
        { value: "Botswana", text: "Botswana" },
        { value: "Bouvet Island", text: "Bouvet Island" },
        { value: "Brazil", text: "Brazil" },
        {
          value: "British Indian Ocean Territory (the)",
          text: "British Indian Ocean Territory (the)",
        },
        { value: "Brunei Darussalam", text: "Brunei Darussalam" },
        { value: "Bulgaria", text: "Bulgaria" },
        { value: "Burkina Faso", text: "Burkina Faso" },
        { value: "Burundi", text: "Burundi" },
        { value: "Cabo Verde", text: "Cabo Verde" },
        { value: "Cambodia", text: "Cambodia" },
        { value: "Cameroon", text: "Cameroon" },
        { value: "Canada", text: "Canada" },
        { value: "Cayman Islands (the)", text: "Cayman Islands (the)" },
        {
          value: "Central African Republic (the)",
          text: "Central African Republic (the)",
        },
        { value: "Chad", text: "Chad" },
        { value: "Chile", text: "Chile" },
        { value: "China", text: "China" },
        { value: "Christmas Island", text: "Christmas Island" },
        {
          value: "Cocos (Keeling) Islands (the)",
          text: "Cocos (Keeling) Islands (the)",
        },
        { value: "Colombia", text: "Colombia" },
        { value: "Comoros (the)", text: "Comoros (the)" },
        {
          value: "Congo (the Democratic Republic of the)",
          text: "Congo (the Democratic Republic of the)",
        },
        { value: "Congo (the)", text: "Congo (the)" },
        { value: "Cook Islands (the)", text: "Cook Islands (the)" },
        { value: "Costa Rica", text: "Costa Rica" },
        { value: "Croatia", text: "Croatia" },
        { value: "Cuba", text: "Cuba" },
        { value: "Curaçao", text: "Curaçao" },
        { value: "Cyprus", text: "Cyprus" },
        { value: "Czechia", text: "Czechia" },
        { value: "Côte dIvoire", text: "Côte dIvoire" },
        { value: "Denmark", text: "Denmark" },
        { value: "Djibouti", text: "Djibouti" },
        { value: "Dominica", text: "Dominica" },
        { value: "Dominican Republic (the)", text: "Dominican Republic (the)" },
        { value: "Ecuador", text: "Ecuador" },
        { value: "Egypt", text: "Egypt" },
        { value: "El Salvador", text: "El Salvador" },
        { value: "Equatorial Guinea", text: "Equatorial Guinea" },
        { value: "Eritrea", text: "Eritrea" },
        { value: "Estonia", text: "Estonia" },
        { value: "Eswatini", text: "Eswatini" },
        { value: "Ethiopia", text: "Ethiopia" },
        {
          value: "Falkland Islands (the) [Malvinas]",
          text: "Falkland Islands (the) [Malvinas]",
        },
        { value: "Faroe Islands (the)", text: "Faroe Islands (the)" },
        { value: "Fiji", text: "Fiji" },
        { value: "Finland", text: "Finland" },
        { value: "France", text: "France" },
        { value: "French Guiana", text: "French Guiana" },
        { value: "French Polynesia", text: "French Polynesia" },
        {
          value: "French Southern Territories (the)",
          text: "French Southern Territories (the)",
        },
        { value: "Gabon", text: "Gabon" },
        { value: "Gambia (the)", text: "Gambia (the)" },
        { value: "Georgia", text: "Georgia" },
        { value: "Germany", text: "Germany" },
        { value: "Ghana", text: "Ghana" },
        { value: "Gibraltar", text: "Gibraltar" },
        { value: "Greece", text: "Greece" },
        { value: "Greenland", text: "Greenland" },
        { value: "Grenada", text: "Grenada" },
        { value: "Guadeloupe", text: "Guadeloupe" },
        { value: "Guam", text: "Guam" },
        { value: "Guatemala", text: "Guatemala" },
        { value: "Guernsey", text: "Guernsey" },
        { value: "Guinea", text: "Guinea" },
        { value: "Guinea-Bissau", text: "Guinea-Bissau" },
        { value: "Guyana", text: "Guyana" },
        { value: "Haiti", text: "Haiti" },
        {
          value: "Heard Island and McDonald Islands",
          text: "Heard Island and McDonald Islands",
        },
        { value: "Holy See (the)", text: "Holy See (the)" },
        { value: "Honduras", text: "Honduras" },
        { value: "Hong Kong", text: "Hong Kong" },
        { value: "Hungary", text: "Hungary" },
        { value: "Iceland", text: "Iceland" },
        { value: "India", text: "India" },
        { value: "Indonesia", text: "Indonesia" },
        {
          value: "Iran (Islamic Republic of)",
          text: "Iran (Islamic Republic of)",
        },
        { value: "Iraq", text: "Iraq" },
        { value: "Ireland", text: "Ireland" },
        { value: "Isle of Man", text: "Isle of Man" },
        { value: "Israel", text: "Israel" },
        { value: "Italy", text: "Italy" },
        { value: "Jamaica", text: "Jamaica" },
        { value: "Japan", text: "Japan" },
        { value: "Jersey", text: "Jersey" },
        { value: "Jordan", text: "Jordan" },
        { value: "Kazakhstan", text: "Kazakhstan" },
        { value: "Kenya", text: "Kenya" },
        { value: "Kiribati", text: "Kiribati" },
        {
          value: "Korea (the Democratic Peoples Republic of)",
          text: "Korea (the Democratic Peoples Republic of)",
        },
        { value: "Korea (the Republic of)", text: "Korea (the Republic of)" },
        { value: "Kuwait", text: "Kuwait" },
        { value: "Kyrgyzstan", text: "Kyrgyzstan" },
        {
          value: "Lao Peoples Democratic Republic (the)",
          text: "Lao Peoples Democratic Republic (the)",
        },
        { value: "Latvia", text: "Latvia" },
        { value: "Lebanon", text: "Lebanon" },
        { value: "Lesotho", text: "Lesotho" },
        { value: "Liberia", text: "Liberia" },
        { value: "Libya", text: "Libya" },
        { value: "Liechtenstein", text: "Liechtenstein" },
        { value: "Lithuania", text: "Lithuania" },
        { value: "Luxembourg", text: "Luxembourg" },
        { value: "Macao", text: "Macao" },
        { value: "Madagascar", text: "Madagascar" },
        { value: "Malawi", text: "Malawi" },
        { value: "Malaysia", text: "Malaysia" },
        { value: "Maldives", text: "Maldives" },
        { value: "Mali", text: "Mali" },
        { value: "Malta", text: "Malta" },
        { value: "Marshall Islands (the)", text: "Marshall Islands (the)" },
        { value: "Martinique", text: "Martinique" },
        { value: "Mauritania", text: "Mauritania" },
        { value: "Mauritius", text: "Mauritius" },
        { value: "Mayotte", text: "Mayotte" },
        { value: "Mexico", text: "Mexico" },
        {
          value: "Micronesia (Federated States of)",
          text: "Micronesia (Federated States of)",
        },
        {
          value: "Moldova (the Republic of)",
          text: "Moldova (the Republic of)",
        },
        { value: "Monaco", text: "Monaco" },
        { value: "Mongolia", text: "Mongolia" },
        { value: "Montenegro", text: "Montenegro" },
        { value: "Montserrat", text: "Montserrat" },
        { value: "Morocco", text: "Morocco" },
        { value: "Mozambique", text: "Mozambique" },
        { value: "Myanmar", text: "Myanmar" },
        { value: "Namibia", text: "Namibia" },
        { value: "Nauru", text: "Nauru" },
        { value: "Nepal", text: "Nepal" },
        { value: "Netherlands (the)", text: "Netherlands (the)" },
        { value: "New Caledonia", text: "New Caledonia" },
        { value: "New Zealand", text: "New Zealand" },
        { value: "Nicaragua", text: "Nicaragua" },
        { value: "Niger (the)", text: "Niger (the)" },
        { value: "Nigeria", text: "Nigeria" },
        { value: "Niue", text: "Niue" },
        { value: "Norfolk Island", text: "Norfolk Island" },
        { value: "North Macedonia", text: "North Macedonia" },
        {
          value: "Northern Mariana Islands (the)",
          text: "Northern Mariana Islands (the)",
        },
        { value: "Norway", text: "Norway" },
        { value: "Oman", text: "Oman" },
        { value: "Pakistan", text: "Pakistan" },
        { value: "Palau", text: "Palau" },
        { value: "Palestine, State of", text: "Palestine, State of" },
        { value: "Panama", text: "Panama" },
        { value: "Papua New Guinea", text: "Papua New Guinea" },
        { value: "Paraguay", text: "Paraguay" },
        { value: "Peru", text: "Peru" },
        { value: "Philippines (the)", text: "Philippines (the)" },
        { value: "Pitcairn", text: "Pitcairn" },
        { value: "Poland", text: "Poland" },
        { value: "Portugal", text: "Portugal" },
        { value: "Puerto Rico", text: "Puerto Rico" },
        { value: "Qatar", text: "Qatar" },
        { value: "Romania", text: "Romania" },
        { value: "Russian Federation (the)", text: "Russian Federation (the)" },
        { value: "Rwanda", text: "Rwanda" },
        { value: "Réunion", text: "Réunion" },
        { value: "Saint Barthélemy", text: "Saint Barthélemy" },
        {
          value: "Saint Helena, Ascension and Tristan da Cunha",
          text: "Saint Helena, Ascension and Tristan da Cunha",
        },
        { value: "Saint Kitts and Nevis", text: "Saint Kitts and Nevis" },
        { value: "Saint Lucia", text: "Saint Lucia" },
        {
          value: "Saint Martin (French part)",
          text: "Saint Martin (French part)",
        },
        {
          value: "Saint Pierre and Miquelon",
          text: "Saint Pierre and Miquelon",
        },
        {
          value: "Saint Vincent and the Grenadines",
          text: "Saint Vincent and the Grenadines",
        },
        { value: "Samoa", text: "Samoa" },
        { value: "San Marino", text: "San Marino" },
        { value: "Sao Tome and Principe", text: "Sao Tome and Principe" },
        { value: "Saudi Arabia", text: "Saudi Arabia" },
        { value: "Senegal", text: "Senegal" },
        { value: "Serbia", text: "Serbia" },
        { value: "Seychelles", text: "Seychelles" },
        { value: "Sierra Leone", text: "Sierra Leone" },
        { value: "Singapore", text: "Singapore" },
        {
          value: "Sint Maarten (Dutch part)",
          text: "Sint Maarten (Dutch part)",
        },
        { value: "Slovakia", text: "Slovakia" },
        { value: "Slovenia", text: "Slovenia" },
        { value: "Solomon Islands", text: "Solomon Islands" },
        { value: "Somalia", text: "Somalia" },
        { value: "South Africa", text: "South Africa" },
        {
          value: "South Georgia and the South Sandwich Islands",
          text: "South Georgia and the South Sandwich Islands",
        },
        { value: "South Sudan", text: "South Sudan" },
        { value: "Spain", text: "Spain" },
        { value: "Sri Lanka", text: "Sri Lanka" },
        { value: "Sudan (the)", text: "Sudan (the)" },
        { value: "Suriname", text: "Suriname" },
        { value: "Svalbard and Jan Mayen", text: "Svalbard and Jan Mayen" },
        { value: "Sweden", text: "Sweden" },
        { value: "Switzerland", text: "Switzerland" },
        {
          value: "Syrian Arab Republic (the)",
          text: "Syrian Arab Republic (the)",
        },
        {
          value: "Taiwan (Province of China)",
          text: "Taiwan (Province of China)",
        },
        { value: "Tajikistan", text: "Tajikistan" },
        {
          value: "Tanzania, the United Republic of",
          text: "Tanzania, the United Republic of",
        },
        { value: "Thailand", text: "Thailand" },
        { value: "Timor-Leste", text: "Timor-Leste" },
        { value: "Togo", text: "Togo" },
        { value: "Tokelau", text: "Tokelau" },
        { value: "Tonga", text: "Tonga" },
        { value: "Trinidad and Tobago", text: "Trinidad and Tobago" },
        { value: "Tunisia", text: "Tunisia" },
        { value: "Turkmenistan", text: "Turkmenistan" },
        {
          value: "Turks and Caicos Islands (the)",
          text: "Turks and Caicos Islands (the)",
        },
        { value: "Tuvalu", text: "Tuvalu" },
        { value: "Türkiye", text: "Türkiye" },
        { value: "Uganda", text: "Uganda" },
        { value: "Ukraine", text: "Ukraine" },
        {
          value: "United Arab Emirates (the)",
          text: "United Arab Emirates (the)",
        },
        {
          value: "United Kingdom of Great Britain and Northern Ireland (the)",
          text: "United Kingdom of Great Britain and Northern Ireland (the)",
        },
        {
          value: "United States Minor Outlying Islands (the)",
          text: "United States Minor Outlying Islands (the)",
        },
        {
          value: "United States of America (the)",
          text: "United States of America (the)",
        },
        { value: "Uruguay", text: "Uruguay" },
        { value: "Uzbekistan", text: "Uzbekistan" },
        { value: "Vanuatu", text: "Vanuatu" },
        {
          value: "Venezuela (Bolivarian Republic of)",
          text: "Venezuela (Bolivarian Republic of)",
        },
        { value: "Viet Nam", text: "Viet Nam" },
        { value: "Virgin Islands (British)", text: "Virgin Islands (British)" },
        { value: "Virgin Islands (U.S.)", text: "Virgin Islands (U.S.)" },
        { value: "Wallis and Futuna", text: "Wallis and Futuna" },
        { value: "Western Sahara*", text: "Western Sahara*" },
        { value: "Yemen", text: "Yemen" },
        { value: "Zambia", text: "Zambia" },

        // Add more country objects as needed
      ];

      // Loop through the country data array and create <option> elements
      for (var i = 0; i < countries.length; i++) {
        var country = countries[i];

        // Create a new <option> element
        var option = document.createElement("option");

        // Set the value and text of the option element
        option.value = country.value;
        option.text = country.text;

        // Append the option element to the select element
        selectElement.appendChild(option);
      }
      selectElement.options[0].style.display = "none";
    </script>
    <script>
      var selectElement = document.getElementById(
        "WWLTwVqNF79zzTCp5GJANec1RvI6Cy1E"
      );

      // Create an array of state data

      var states = [
        { value: "AL", text: "Alabama" },

        { value: "AK", text: "Alaska" },

        { value: "AS", text: "American Samoa" },

        { value: "AZ", text: "Arizona" },

        { value: "AR", text: "Arkansas" },

        { value: "CA", text: "California" },

        { value: "CO", text: "Colorado" },

        { value: "CT", text: "Connecticut" },

        { value: "DC", text: "DC" },

        { value: "DE", text: "Delaware" },

        { value: "FL", text: "Florida" },

        { value: "FM", text: "Micronesia" },

        { value: "GA", text: "Georgia" },

        { value: "GU", text: "Guam" },

        { value: "HI", text: "Hawaii" },

        { value: "IA", text: "Iowa" },

        { value: "ID", text: "Idaho" },

        { value: "IL", text: "Illinois" },

        { value: "IN", text: "Indiana" },

        { value: "KS", text: "Kansas" },

        { value: "KY", text: "Kentucky" },

        { value: "LA", text: "Louisiana" },

        { value: "MA", text: "Massachusetts" },

        { value: "MD", text: "Maryland" },

        { value: "ME", text: "Maine" },

        { value: "MH", text: "Marshall Islands" },

        { value: "MI", text: "Michigan" },

        { value: "MN", text: "Minnesota" },

        { value: "MO", text: "Missouri" },

        { value: "MP", text: "Marianas" },

        { value: "MS", text: "Mississippi" },

        { value: "MT", text: "Montana" },

        { value: "NC", text: "North Carolina" },

        { value: "ND", text: "North Dakota" },

        { value: "NE", text: "Nebraska" },

        { value: "NH", text: "New Hampshire" },

        { value: "NJ", text: "New Jersey" },

        { value: "NM", text: "New Mexico" },

        { value: "NV", text: "Nevada" },

        { value: "NY", text: "New York" },

        { value: "OH", text: "Ohio" },

        { value: "OK", text: "Oklahoma" },

        { value: "OR", text: "Oregon" },

        { value: "PA", text: "Pennsylvania" },

        { value: "PR", text: "Puerto Rico" },

        { value: "PW", text: "Palau" },

        { value: "RI", text: "Rhode Island" },

        { value: "SC", text: "South Carolina" },

        { value: "SD", text: "South Dakota" },

        { value: "TN", text: "Tennessee" },

        { value: "TX", text: "Texas" },

        { value: "UT", text: "Utah" },

        { value: "VA", text: "Virginia" },

        { value: "VI", text: "Virgin Islands" },

        { value: "VT", text: "Vermont" },

        { value: "WA", text: "Washington" },

        { value: "WI", text: "Wisconsin" },

        { value: "WV", text: "West Virginia" },

        { value: "WY", text: "Wyoming" },
      ];

      // Loop through the state data array and create <option> elements

      for (var i = 0; i < states.length; i++) {
        var state = states[i];

        // Create a new <option> element

        var option = document.createElement("option");

        // Set the value and text of the option element

        option.value = state.value;

        option.text = state.text;

        // Append the option element to the select element

        selectElement.appendChild(option);
      }

      // Hide the "Select Country" option

      selectElement.options[1].style.display = "none";
    </script>
    <script>
      var selectElement = document.getElementById(
        "vaN6zRqJXsKVR7E7Tp6K4t1FqmdUOk40"
      );

      // Create an array of state data

      var states = [
        { value: "Alberta", text: "Alberta" },
        { value: "British Columbia", text: "British Columbia" },
        { value: "Manitoba", text: "Manitoba" },
        { value: "New Brunswick", text: "New Brunswick" },
        {
          value: "Newfoundland and Labrador",
          text: "Newfoundland and Labrador",
        },
        { value: "Northwest Territories", text: "Northwest Territories" },
        { value: "Nova Scotia", text: "Nova Scotia" },
        { value: "Nunavut", text: "Nunavut" },
        { value: "Ontario", text: "Ontario" },
        { value: "Prince Edwards Island", text: "Prince Edwards Island" },
        { value: "Quebec", text: "Quebec" },
        { value: "Saskatchewan", text: "Saskatchewan" },
        { value: "Yukon", text: "Yukon" },
      ];

      // Loop through the state data array and create <option> elements

      for (var i = 0; i < states.length; i++) {
        var state = states[i];

        // Create a new <option> element

        var option = document.createElement("option");

        // Set the value and text of the option element

        option.value = state.value;

        option.text = state.text;

        // Append the option element to the select element

        selectElement.appendChild(option);
      }

      // Hide the "Select Country" option

      selectElement.options[1].style.display = "none";
    </script>
  </body>
</html>
