<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Connected Shoppers Report</title>
    <meta name="description" content="Connected Shoppers Report" />
    <meta name="keywords" content="Connected Shoppers Report" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link rel="preconnect" href="//styles.assets-landingi.com" />
    <link rel="preconnect" href="//old.assets-landingi.com" />
    <link rel="preconnect" href="//fonts.googleapis.com" />
    <link rel="preconnect" href="//images.assets-landingi.com" />
    <link rel="preconnect" href="//cdn.lugc.link" />
    <link
      rel="preload"
      fetchpriority="high"
      media="(min-width: 764px)"
      as="image"
      href="https://cdn.lugc.link/88966da8-db63-41ff-baf9-f4ff5af255f4/-/preview/107x74/-/format/auto/"
    />
    <link
      rel="preload"
      fetchpriority="high"
      media="(max-width: 763px) and ((-webkit-max-device-pixel-ratio: 1.9) or (max-resolution: 1.9dppx))"
      as="image"
      href="https://cdn.lugc.link/88966da8-db63-41ff-baf9-f4ff5af255f4/-/preview/107x73/-/format/auto/"
    />
    <script fetchpriority="high">
      (function (src, cb) {
        var s = document.createElement("script");
        s.setAttribute("src", src);
        s.setAttribute("fetchpriority", "high");
        s.onload = cb;
        (document.head || document.body).appendChild(s);
      })(
        "https://ucarecdn.com/libs/blinkloader/3.x/blinkloader.min.js",
        function () {
          window.Blinkloader.optimize({
            fadeIn: false,
            lazyload: true,
            smartCompression: true,
            responsive: true,
            retina: true,
            webp: true,
            pubkey: "ca6af56c901b93c58ffa",
            cdnBase: "https://cdn.lugc.link",
          });

          if (window.location !== window.parent.location) {
            window.onload = function () {
              setTimeout(function () {
                window.dispatchEvent(new CustomEvent("scroll"));
              }, 500);
            };
          }
        }
      );
    </script>

    <meta property="og:title" content="Connected Shoppers Report" />
    <meta property="og:description" content="Connected Shoppers Report" />
    <meta property="og:image" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext&display=swap"
      type="text/css"
      rel="preload"
      as="style"
      fetchpriority="high"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic,cyrillic-ext&display=swap"
      type="text/css"
      rel="preload"
      as="style"
      fetchpriority="high"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="https://styles.assets-landingi.com/assets/css/2.14-landend-base.css"
      type="text/css"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="https://styles.assets-landingi.com/VgyDhoCU/conversion.css"
      type="text/css"
      rel="stylesheet"
    />
    <script>
      var conversion = {
        hash: "a482e48c7d0fd050d6b5469a87f00dde",
        email: "prajwal.pawar@manlitics.com",
        name: "dac",
        name1: "dsS",
        select7: "Azerbaijan",
        phone: "56454564897897",
        text: "sdf",
        select1: "46-200 employees",
        text1: "sdfsdf",
        IP: "103.68.8.88",
        _landing_hash: "7bb5a8c8fa473f9fdb1b",
        _landing_version: "jWLaCbd1AXhLNHuv8d8rcj0dmy0Vp0Ap",
      };
    </script>
    <script>
      var landingiInternalDetails = {
        landing_id: "1606790",
        landing_hash: "7bb5a8c8fa473f9fdb1b",
        landing_variant_hash: "7bb5a8c8fa473f9fdb1b",
        landing_name: "test+fslkjfsa%3Bldfkjs%3Bldkjfas%3Bldj",
        landing_lang: "en",
        account_uuid: "b065abe0-6e03-11ea-bff9-42b3a1540b74",
        apikey: "6e314dd3-fc1a-43a0-9b55-02b4a96c50b6",
      };
    </script>
    <script>
      document.documentElement.lang = "en";

      function hotFix() {
        for (var i = 0; i <= 5; i++) {
          document
            .getElementsByTagName("select")
            [i].removeAttribute("aria-label");
          document
            .getElementsByTagName("select")
            [i].setAttribute("aria-label", "New Label");
        }
      }
      hotFix();
    </script>
    <script>
      (async function (w, d) {
        try {
          const response = await w.fetch(
            "https://" +
              "tagmanager.landingi.io" +
              "/account/" +
              "b065abe0-6e03-11ea-bff9-42b3a1540b74"
          );
          const gtm = await response.json();

          if (gtm) {
            const script = d.head.getElementsByTagName("script")[0];
            const tmpl = d.createElement("template");
            tmpl.innerHTML = gtm;
            tmpl.content.childNodes.forEach((node) => {
              let elem = node;

              if ("SCRIPT" === node.nodeName) {
                elem = d.createElement("script");

                if (node.textContent) {
                  elem.textContent = node.textContent;
                }

                if (node.src) {
                  elem.src = node.src;
                  elem.type = node.type;
                }

                script.parentNode.insertBefore(elem, script);
              }

              if ("STYLE" === node.nodeName) {
                elem = d.createElement("style");

                if (node.textContent) {
                  elem.textContent = node.textContent;
                }

                script.parentNode.insertBefore(elem, script);
              }
            });
          }
        } catch (err) {
          console.log(err);
        }
      })(window, document);
    </script>
    <style>
      body div.grecaptcha-badge {
        display: none !important;
        visibility: hidden !important;
      }
    </style>
    <script
      defer
      fetchpriority="low"
      src="https://popups.landingi.com/api/v3/landing/install-code?apikey=6e314dd3-fc1a-43a0-9b55-02b4a96c50b6&landing=7bb5a8c8fa473f9fdb1b"
    ></script>
    <script
      defer
      fetchpriority="low"
      src="https://scripts.assets-landingi.com/lightboxes/lightbox-render.js?v=1705339117"
    ></script>
    <script>
      window.addEventListener("load", function () {
        LightboxRender.init({
          useAaf: true,
        });
      });
    </script>
  </head>
  <body id="TxvpQxGuo6CkxW3pseVeXnPkXz3TAWhR">
    <div id="dBFSh1EsLRQ9vI2TBwBN3K64K7orbWF5" class="widget widget-section">
      <div class="row">
        <div class="container">
          <img
            id="CKeiQ8VHLxGTREQhppTFhEJ8QzC7el5Z"
            data-original="https://images.assets-landingi.com/uc/88966da8-db63-41ff-baf9-f4ff5af255f4/Salesforcecom_logosvg.png"
            class="widget widget-image"
            srcset="
              https://cdn.lugc.link/88966da8-db63-41ff-baf9-f4ff5af255f4/-/preview/107x73/-/format/auto/ 107w,
              https://cdn.lugc.link/88966da8-db63-41ff-baf9-f4ff5af255f4/-/preview/107x74/-/format/auto/ 107w
            "
            sizes="(max-width: 763px) 107px,   107px"
            src="https://cdn.lugc.link/88966da8-db63-41ff-baf9-f4ff5af255f4/-/preview/107x73/-/format/auto/"
            alt=""
            width="107"
            height="74"
            fetchpriority="high"
          />
        </div>
      </div>
    </div>
    <div id="JA4IB3rJtZk62sQh9SlcsQT63JxGGnUe" class="widget widget-section">
      <div class="row">
        <div class="container"></div>
      </div>
    </div>
    <div id="r7r9pC0OOPmhhQnytAIIyGdhubuT3tVu" class="widget widget-section">
      <div class="row">
        <div class="container">
          <div
            id="S0xV960ppTJvV0XafIvmfhDVGPQQL02a"
            class="widget widget-text widget-regular-label"
          >
            <p>Thank you for your interest in</p>
            <p>“Connected Shoppers Report"</p>
            <p>We hope you find this report beneficial.</p>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="//assetslp.link/assets/js/landend/jquery-3-6-0.min.js"
      fetchpriority="high"
    ></script>
    <script
      async
      type="text/javascript"
      src="https://old.assets-landingi.com/bootstrap/js/landend.bootstrap.min.js"
    ></script>
    <script
      async
      type="text/javascript"
      src="https://scripts.assets-landingi.com/webview/webview.1.0.2.js"
    ></script>
    <script
      type="text/javascript"
      src="https://old.assets-landingi.com/assets/js/dist/landend/300123/landend.js"
    ></script>
    <script src="/assets/js/landend/frodo.js"></script>
    <script>
      const lpStatsModule = (function () {
        const url = "https://stats.landingi.com/visit/1606790";
        const data = {
          lid: 1606790,
          luuid: "74132aff-43cd-4196-80de-91607b719e96",
          lhash: "7bb5a8c8fa473f9fdb1b",
          fid: 1606790,
          auuid: "b065abe0-6e03-11ea-bff9-42b3a1540b74",
          acid: 199539,
          agid: null,
          tid: null,
          hasAccessToEventTracker: false,
          hasAccessToEventTrackerDev: false,
          hasAccessToEventTrackerData: false,
        };
        const cookieName = "ls_sid_1606790";

        if (data.hasAccessToEventTrackerDev) {
          console.log("Running runScript in dev mode");
          frodo.runScriptDev(cookieName, url, data);
        } else {
          frodo.runScript(cookieName, url, data);
        }

        return {
          getData: function () {
            return data;
          },
          cookieName: function () {
            return cookieName;
          },
          endpoint: function () {
            return url;
          },
          path: function () {
            return path;
          },
        };
      })();
    </script>
    <script
      defer
      type="text/javascript"
      src="https://scripts.assets-landingi.com/landend/160721/files.js"
    ></script>
    <script
      defer
      fetchpriority="low"
      type="text/javascript"
      src="https://old.assets-landingi.com/assets/js/vendor/jquery-form/jquery.form.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://scripts.assets-landingi.com/landend/250423/landend.min.js"
    ></script>
    <script
      defer
      fetchpriority="low"
      type="text/javascript"
      src="https://old.assets-landingi.com/assets/js/landend/260820/validation.js"
    ></script>
  </body>
</html>
